PORT=3000

APP_DB_HOST=localhost
APP_DB_PORT=5433
APP_DB_USER=calc_cabos
APP_DB_PASSWORD=calc_cabos
APP_DB_NAME=calc_cabos_app

BT_DB_HOST=localhost
BT_DB_PORT=5432
BT_DB_USER=calc_cabos
BT_DB_PASSWORD=calc_cabos
BT_DB_NAME=calc_cabos_bt

MT_DB_HOST=localhost
MT_DB_PORT=5434
MT_DB_USER=calc_cabos
MT_DB_PASSWORD=calc_cabos
MT_DB_NAME=calc_cabos_mt

REDIS_HOST=localhost
REDIS_PORT=6379
